---
title: Resume
author: {{ .Site.Data.resume.basics.name }}
type: page
toc: false
---


## {{ .Site.Data.resume.basics.name }}
{{ .Site.Data.resume.basics.url }}       | {{ .Site.Data.resume.basics.email }}
--- | ---
{{ .Site.Data.resume.basics.location.city }}, {{ .Site.Data.resume.basics.location.region }} {{ .Site.Data.resume.basics.location.postalCode }} | {{ .Site.Data.resume.basics.phone }}
* * *
Last Updated on {{ now.Format "Monday, January 2, 2006" }}.  Also available in {{- " " -}}
{{ range $i, $format := .Site.Data.resume.xOnline.formats }}
  {{ if $i }}, {{ end }}[{{ $format.name }}]({{ $.Site.Data.resume.xOnline.base }}/grahame_murray_resume.{{ $format.extension }})
{{ end -}}.
Visit {{ .Site.Data.resume.xOnline.source }} to see the code that created this resume.

* * *


### SUMMARY
{{ .Site.Data.resume.basics.summary }}


### HIGHLIGHTS
{{ range .Site.Data.resume.xHighlights }}
* {{ . }}
{{ end }}

### EXPERIENCE
{{ range $job := .Site.Data.resume.work }}
#### {{ $job.position }}, *{{ (time.AsTime (printf "%s-01" $job.startDate)).Format "January 2006" }} - {{ if $job.endDate }}{{ (time.AsTime (printf "%s-01" $job.endDate)).Format "January 2006" }}{{ else }}Present{{ end }}*
##### {{ $job.name }}  -    *{{ $job.location }}*

{{ if or $job.xOrganization.division $job.xOrganization.department $job.xOrganization.team }}
###### {{ if $job.xOrganization.division }}{{ $job.xOrganization.division }}{{ end }}{{ if and $job.xOrganization.division $job.xOrganization.department }}, {{ end }}{{ if $job.xOrganization.department }}{{ $job.xOrganization.department }}{{ end }}{{ if and (or $job.xOrganization.division $job.xOrganization.department) $job.xOrganization.team }}, {{ end }}{{ if $job.xOrganization.team }}{{ $job.xOrganization.team }}{{ end }}
{{ end }}
{{ range $job.highlights }}
* {{ . }}
{{ end }}
{{ end }}


### COMPUTER SKILLS
{{ range $skill := .Site.Data.resume.skills }}
#### {{ $skill.name }}:
{{ delimit $skill.keywords ", " }}

{{ end }}


### EDUCATION
{{ range $edu := .Site.Data.resume.education }}
 {{ $edu.institution }}  {{ $edu.xLocation }}

{{ if $edu.studyType }}
###### {{ $edu.studyType }}{{ if $edu.area }} in {{ $edu.area }}{{ end }}
{{ end }}
{{ if $edu.courses }}
Courses in {{ delimit $edu.courses ", " }}
{{ end }}
{{ end }}


### REFERENCES
{{ range .Site.Data.resume.references }}
{{ .name }}
{{ end }}
